atividades_sala/atividade_3003/nodered/file.json
[
    {
        "id": "c1a9f7c0e5b01a01",
        "type": "inject",
        "z": "828ffb7ced72b6b6",
        "name": "Ler Temperatura",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "ns=2;i=2",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "8fd5a1c2ff83807a"
            ]
        ]
    },
    {
        "id": "b7c91c7b6f02e202",
        "type": "OpcUa-Item",
        "z": "828ffb7ced72b6b6",
        "item": "ns=2;i=2",
        "datatype": "Float",
        "value": "",
        "name": "OPC-UA READ Temperature",
        "x": 660,
        "y": 220,
        "wires": [
            [
                "d4f3e72f91a0c303"
            ]
        ]
    },
    {
        "id": "d4f3e72f91a0c303",
        "type": "function",
        "z": "828ffb7ced72b6b6",
        "name": "Formatar saída",
        "func": "let raw = msg.payload;\nlet value = null;\n\n// Caso 1: payload vem como objeto OPC-UA completo\nif (raw && typeof raw === \"object\") {\n\n    // FreeOpcUa + node-red-contrib-opcua (mais comum)\n    if (raw.value !== undefined) {\n\n        // Às vezes value vem encapsulado\n        if (typeof raw.value === \"object\" && raw.value.value !== undefined) {\n            value = raw.value.value;\n        } else {\n            value = raw.value;\n        }\n\n    } else {\n        msg.payload = {\n            erro: \"Objeto OPC-UA sem campo value\",\n            rawPayload: raw,\n            nodeId: msg.topic\n        };\n        return msg;\n    }\n}\n\n// Caso 2: payload vem direto\nelse {\n    value = raw;\n}\n\n// Validação final\nif (value === null || value === undefined || isNaN(value)) {\n    msg.payload = {\n        erro: \"Valor inválido recebido\",\n        valorRecebido: value,\n        rawPayload: raw,\n        nodeId: msg.topic\n    };\n    return msg;\n}\n\n// Saída amigável\nmsg.payload = {\n    tag: \"Temperatura\",\n    valor: Number(value).toFixed(2),\n    unidade: \"°C\",\n    nodeId: msg.topic,\n    timestamp: new Date().toLocaleString(\"pt-BR\")\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 140,
        "wires": [
            [
                "3d2e8a4f7c01a404"
            ]
        ]
    },
    {
        "id": "3d2e8a4f7c01a404",
        "type": "debug",
        "z": "828ffb7ced72b6b6",
        "name": "Debug Temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1200,
        "y": 120,
        "wires": []
    },
    {
        "id": "8fd5a1c2ff83807a",
        "type": "OpcUa-Client",
        "z": "828ffb7ced72b6b6",
        "endpoint": "7dc742813128b22e",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "",
        "applicationName": "",
        "applicationUri": "",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "b7c91c7b6f02e202"
            ],
            [],
            []
        ]
    },
    {
        "id": "b1f7a9c6a1d1a001",
        "type": "inject",
        "z": "828ffb7ced72b6b6",
        "name": "Pressão",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1.8",
        "payloadType": "str",
        "x": 120,
        "y": 620,
        "wires": [
            [
                "7d6e58d0b8d7a002"
            ]
        ]
    },
    {
        "id": "7d6e58d0b8d7a002",
        "type": "function",
        "z": "828ffb7ced72b6b6",
        "name": "Converter para Number",
        "func": "// Garante que o valor seja numérico\nmsg.payload = Number(msg.payload);\n\nif (isNaN(msg.payload)) {\n    node.error(\"Valor inválido para escrita OPC-UA\", msg);\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 620,
        "wires": [
            [
                "d3c0c5a7e7e8a003"
            ]
        ]
    },
    {
        "id": "d3c0c5a7e7e8a003",
        "type": "OpcUa-Item",
        "z": "828ffb7ced72b6b6",
        "item": "ns=2;i=3",
        "datatype": "Double",
        "value": "",
        "name": "Pressure",
        "x": 660,
        "y": 620,
        "wires": [
            [
                "a4f0b1a3c6e2a004"
            ]
        ]
    },
    {
        "id": "a4f0b1a3c6e2a004",
        "type": "OpcUa-Client",
        "z": "828ffb7ced72b6b6",
        "endpoint": "7dc742813128b22e",
        "action": "write",
        "deadbandvalue": "",
        "time": 2000,
        "timeUnit": "ms",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "useTransport": false,
        "maxChunkCount": "",
        "maxMessageSize": "",
        "receiveBufferSize": "",
        "sendBufferSize": "",
        "setstatusandtime": false,
        "keepsessionalive": false,
        "name": "OPC-UA Client",
        "applicationName": "",
        "applicationUri": "",
        "x": 930,
        "y": 620,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "08607723d9ad23eb",
        "type": "inject",
        "z": "828ffb7ced72b6b6",
        "name": "Enviar True",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "820adea28c9d027f"
            ]
        ]
    },
    {
        "id": "820adea28c9d027f",
        "type": "OpcUa-Item",
        "z": "828ffb7ced72b6b6",
        "item": "ns=2;i=4",
        "datatype": "Boolean",
        "value": "",
        "name": "Status",
        "x": 610,
        "y": 760,
        "wires": [
            [
                "a4f0b1a3c6e2a004"
            ]
        ]
    },
    {
        "id": "00ddacdacc191f12",
        "type": "inject",
        "z": "828ffb7ced72b6b6",
        "name": "Enviar False",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 130,
        "y": 800,
        "wires": [
            [
                "820adea28c9d027f"
            ]
        ]
    },
    {
        "id": "efebecbcd536eab4",
        "type": "inject",
        "z": "828ffb7ced72b6b6",
        "name": "Temperatura",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "22.4",
        "payloadType": "str",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "172173948882a9d9"
            ]
        ]
    },
    {
        "id": "172173948882a9d9",
        "type": "function",
        "z": "828ffb7ced72b6b6",
        "name": "Converter para Number",
        "func": "// Garante que o valor seja numérico\nmsg.payload = Number(msg.payload);\n\nif (isNaN(msg.payload)) {\n    node.error(\"Valor inválido para escrita OPC-UA\", msg);\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 540,
        "wires": [
            [
                "847c572e7423a002"
            ]
        ]
    },
    {
        "id": "847c572e7423a002",
        "type": "OpcUa-Item",
        "z": "828ffb7ced72b6b6",
        "item": "ns=2;i=2",
        "datatype": "Double",
        "value": "",
        "name": "Temperature",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "a4f0b1a3c6e2a004"
            ]
        ]
    },
    {
        "id": "279cb016cd3f4a00",
        "type": "comment",
        "z": "828ffb7ced72b6b6",
        "name": "Leitura de Temperatura",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "d47e7ab34b580fad",
        "type": "comment",
        "z": "828ffb7ced72b6b6",
        "name": "Escrita de Valores",
        "info": "",
        "x": 110,
        "y": 460,
        "wires": []
    },
    {
        "id": "7dc742813128b22e",
        "type": "OpcUa-Endpoint",
        "name": "FreeOpcUa",
        "endpoint": "opc.tcp://0.0.0.0:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    }
]